@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-primary: 0 97% 63%;
    --clr-secondary: 223 30% 9%;
    --clr-kashmir-blue: 223 23% 46%;
    --clr-mirage: 223 36% 14%;
  }

  html {
    @apply text-[62.5%];
    @apply min-h-screen;
  }

  body {
    @apply bg-secondary;
    @apply h-full;
    @apply text-white;
    @apply font-outfit;
    @apply font-light;
  }
}
